<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="me.webbing.demo" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap = "http://phonegap.com/ns/1.0">
  <name>Push test</name>
  <description>
        Push test with PhoneGap
    </description>
  <author email="wmalevski@develop-soft.com" href="http://malevski.net/">
      Velizar Malevski
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
    <feature name="InAppBrowser">
    <param name="android-package" value="org.apache.cordova.InAppBrowser"/>
  </feature>
  <feature name="InAppBrowser">
      <param name="ios-package" value="CDVInAppBrowser" />
  </feature>
  <gap:plugin name="org.apache.cordova.inappbrowser"  />
  <gap:plugin name="PushPlugin"/>
</widget>